docker.enabled = true

params {
    // reference = "gs://b18f4561-a455-4801-a13e-bfd9484406c0/GCF_036321535.1_mCamDro1.pat_genomic.fna"
    // known_sites = "https://ftp.ncbi.nih.gov/snp/organisms/human_9606/VCF/common_all_20180418.vcf.gz"
    // known_sites = "gs://91177f14-d646-447d-9e14-3ec3391dcd41/variants.vcf"
    reference = "gs://91177f14-d646-447d-9e14-3ec3391dcd41/hg38 minigenome.fa"
}

timeline {
    enabled = true
    file = "${params.outdir}/timeline.html"
    overwrite = true
}

process {
    // memory errors which should be retried. otherwise error out
    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries = 3

    cpus = { 4 }
    memory = { 8.GB }
    time = { 4.h * task.attempt }

    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: big_mem {
        cpus = { 16 }
        memory = { 32.GB * task.attempt }
    }

    withLabel: mid_mem {
        cpus = { 8 }
        memory = { 16.GB * task.attempt }
    }

    withLabel: low_mem {
        cpus = { 8 }
        memory = { 7.GB * task.attempt }
    }

    //

    withLabel: high_cpu {
        cpus = { 30 }
        memory = { 64.GB }
    }
}
